[Unit]
Description=PowerManager
After=NetworkManager.service,upower.service

[Service]
Type=dbus
BusName=org.sensey.PowerManager
ExecStart=/usr/bin/power-manager
KillSignal=SIGKILL
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target
Alias=org.sensey.PowerManager

