[Unit]
Description=PowerManager

[Service]
Type=dbus
BusName=org.sensey.PowerManager
ExecStart=/usr/bin/powermanager
StandardError=null
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
Alias=powermanager

